 // variables
 $colordark: rgba(143, 155, 53, 0);

 $colorlight: #1e5a8f;

 $size:100px



 body {
     background-color: #222;
 }

 button {
     background-image: linear-gradient(darken($colorlight, 7%),

             lighten($colorlight, 65%) darken($colorlight, 7%));
        width:$size ;   
        height:$size;
     border-radius: 100%;
     color: lighten($colordark, 100%)
     border: $size / 30 solid ($colorlight, 7%);
     outline: none;
     cursor: pointer;
     box-shadow: 0 0 $size / 20 1px darken($colordark,7%), ;
     text-shadow: 1px 2px 1px darken($colorlight,7%);




     :hover {
         box-shadow: 0 0 3px 1px #111;
         background-image: linear-gradient(lightgreen,
                 darkgreen,
                 lightgreen, );

         border-color: $colorlight;
     }


 }